/* Header object styles */
.l-header {
  flex-shrink: 0;
  background-color: var(--color-surface);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-bottom: 1px solid var(--color-border);
}

.l-header__inner {
  padding: var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-header__title .c-title {
  color: var(--color-text-base);
}

.l-header__user-menu {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.c-header-user {
  text-align: right;
}

.c-header-user__name {
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-base);
}

.c-header-user__role {
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
}
